[user]
	name = Alex Krantz
	email = alex@krantz.dev
	signingkey = B846AD084692588B
[commit]
	gpgsign = true
[credential]
	helper = store
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	ignoreSubmodules = dirty
[core]
	quotepath = false
[url "git@code.krantz.dev:"]
	insteadOf = https://code.krantz.dev/
[init]
	defaultBranch = main
[pull]
	rebase = true
